/* section#post-list {
    width: 100%;
    max-width: 580px;
    margin: 0 auto; 
} */

#testebody{
    background-image: url('../assets/background-159244_1280.png');
    height: -webkit-fill-available;
    padding: 1em;
}

#containerPrincipal{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  
}

#container {
    /* margin: 0 auto;
    justify-content: center; */
    align-items: center;
    display: flex;
}

#s1{
    width: 500px;
    height: 200px;
    background-color: #142B70;

    margin-bottom: 10%;
    /* margin-left: 10%; */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
}
#s2{
    width: 500px;
    height: 200px;

    background-color: #142B70;
    margin-bottom: 10%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
}

#subtitle {
    font-size: 30px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}



  /* mouse over link */
  a:hover {
    color: #FEE300;
    cursor: pointer;
  }

  #formulario{
      display: flex;
  }

  #login {
    display: flex;
  }
 
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  @media only screen and (max-device-width: 900px) {

    #containerPrincipal{
      /* height: 100vh; */
      flex-direction: column;
    }

    #container {
        /* margin: 0 auto;
        justify-content: center; */
        align-items: center;
        flex-direction: column;
    }

    #s1{
      width: 250px;
      height: 100px;
      background-color: #142B70;
      margin-bottom: 10%;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      display: flex;
  }
  #s2{
      width: 250px;
      height: 100px;
      background-color: #142B70;
      margin-bottom: 10%;
      margin-right: 10%;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      display: flex;
  }

  #subtitle {
    font-size: 15px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }

  }





